.signup {
  width: 80%;
  margin: auto;
}
legend {
  font-size: 20px;
  text-align: center;

}
.form-group {
  width:100%;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form-group>p {
  text-align: center;
}
ol {
  padding: 0;
  width: fit-content;
  margin:auto;
}
form {
  display: flex;
  flex-direction: column;
  max-width:100%;
  padding: 10px 15px;
}
.canAdopt {
  text-align: center;
  font-size: 18px;
  animation: growAndShrinkText 3s ease-out 0s 1;
}
@keyframes growAndShrinkText {
  0% {
    font-size: 18px;
  }
  50% {
    font-size: 23px
  }
  100% {
    font-size: 18px;
  }
}
.adoption-container {
  width: 100%;
  display:flex;
  flex-direction: column;
  padding-bottom: 15px;
  overflow-x: hidden;
}
.message {
  position:relative;
  z-index:5;
  top: -2.5%;
  animation: slideLeftRight 5s cubic-bezier(.14,1.07,.91,-0.08) 0s infinite;
}
@keyframes slideLeftRight {
  0% {
    right: 100%
  }
  100% {
    right: -100%;
  }
}
.thank-you {
  width: 80%;
  margin: auto;

  text-align:center;
}
span {
  font-size: 14px;
}
.pet-container {
  width: 75%;
  margin: auto;
  
  margin-bottom: 15px;
  padding: 15px;
  background-color: #EABA6B;
  box-shadow: 2px 3px 2px #121212;
}
.details {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
}